<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="LocalDbConn" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\\MSSQLLocalDB;Initial Catalog=StockAnalyzer;Integrated Security=true"/>
    <add name="LocalInstanceConn" providerName="System.Data.SqlClient" connectionString="Data Source=CODEAUTOMATION\SQLEXPRESS;Initial Catalog=StockAnalyzer;Integrated Security=true"/>
  </connectionStrings>
</configuration>